*.class
!.mvn/wrapper/maven-wrapper.jar

# Package Files #
*.jar
*.war
*.ear

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.studio

# Apple #
.DS_Store

### IntelliJ IDEA ###
.idea
*.log
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/

backend/src/main/resources/public/
backend/target
frontend/dist/
frontend/node/
frontend/node_modules/
frontend/npm-debug.log
frontend/target
frontend/test-output
frontend/tests/e2e/reports
frontend/tests/unit/coverage
frontend/yarn-error.log
frontend/yarn.lock
security/target/
selenium-debug.log